body{
	margin: 0;
	background-color: #282828;
	color: white;
	font-family: monospace;
}
#header-title{
	font-size: 50px;
	text-align: center;
	text-shadow: 3px 3px #f00;
}
#typing-area{
	position: relative;
	overflow: hidden;
	margin: 5px auto;
	border: 1px solid gray;
	border-radius: 20px;
	max-width: 800px;
}
#word-container{
	padding: 20px;
	font-size: 40px;
	display: inline-block;
}
.letter{
	box-sizing: content-box;
}
.letter-correct{
	color: #fff;
}
.letter-incorrent{
	color: #f00;
	border-bottom: 1px solid #f00;
}
.letter-default{
	color: #555;
}
#caret{
	transition: left 0.05s linear, top 0.05s linear;
	position: absolute;
	background-color: rgb(255, 200, 0, 1);
	width: 3px;
}
